<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1028165675466-s5qg760qovvh0v5nrmm4lihhiklmaopb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028165675466-s5qg760qovvh0v5nrmm4lihhiklmaopb</string>
	<key>API_KEY</key>
	<string>AIzaSyCw_hQsRGvO10dkTZZlHUo7rUEbtq943Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>1028165675466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.claus-software.quizshow</string>
	<key>PROJECT_ID</key>
	<string>dasquiz-b0e89</string>
	<key>STORAGE_BUCKET</key>
	<string>dasquiz-b0e89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028165675466:ios:a6633e4f7d12492b</string>
	<key>DATABASE_URL</key>
	<string>https://dasquiz-b0e89.firebaseio.com</string>
</dict>
</plist>
