<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Interface Settings</key>
	<dict>
		<key>Main Background</key>
		<string>canyon</string>
		<key>Main Font</key>
		<string>Avenir-Book</string>
		<key>Bold Font</key>
		<string>Avenir-Black</string>
		<key>Start Page Title</key>
		<string>DAS! Quiz</string>
		<key>Start Page Description</key>
		<string>Testen Sie ihr Wissen</string>
		<key>Start Page Sub Description</key>
		<string>Wähle einen Spielmodus</string>
		<key>Start Page Image</key>
		<string>mainImage</string>
		<key>Show Topics in Grid</key>
		<true/>
	</dict>
	<key>Questions Data</key>
	<array>
		<dict>
			<key>Topic Title</key>
			<string>Basis Fragen</string>
			<key>Topic Image</key>
			<string></string>
			<key>Questions File</key>
			<string>1000Fragen.json</string>
		</dict>
	</array>
	<key>Quiz Settings</key>
	<dict>
		<key>Number Of Questions To Answer</key>
		<integer>10</integer>
		<key>Pass Threshold</key>
		<integer>8</integer>
		<key>Number of Questions To Practice</key>
		<string>10</string>
		<key>Time Needed In Minutes</key>
		<string>2</string>
	</dict>
	<key>Game Center Settings</key>
	<dict>
		<key>Game Center Enabled</key>
		<true/>
		<key>Leaderboard ID</key>
		<string>TopScoresLeaderboard</string>
		<key>Leaderboard ID Time Based</key>
		<string>TimeBasedGame</string>
		<key>Achievements</key>
		<array>
			<dict>
				<key>Achievement ID</key>
				<string>FlawlessAchievement</string>
				<key>Percent Score Needed</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<key>In App Purchase Settings</key>
	<dict>
		<key>Limit Number of Questions</key>
		<true/>
		<key>Number of Free Questions</key>
		<integer>100</integer>
		<key>In-App Purchase ID</key>
		<string>questions.purchase</string>
		<key>IAP Alert Title</key>
		<string>Hinweis</string>
		<key>IAP Alert Message</key>
		<string>Das Quiz ist auf %ld Fragen beschränkt  Möchstest du alle Fragen freischalten?</string>
		<key>IAP Alert Buy</key>
		<string>Upgrade!</string>
		<key>IAP Alert Cancel</key>
		<string>Bei Basisversion bleiben</string>
	</dict>
	<key>Topic Purchase Settings</key>
	<dict>
		<key>Limit Topics</key>
		<false/>
		<key>In-App Purchase ID</key>
		<string>topics.purchase</string>
		<key>IAP Alert Title</key>
		<string>Hinweis</string>
		<key>IAP Alert Message</key>
		<string>Du kannst dieses Thema als kostenpflichtiges In App Kauf freischalten. Möchtest du das nun freischalten?</string>
		<key>IAP Alert Buy</key>
		<string>Thema freischalten</string>
		<key>IAP Alert Buy All</key>
		<string>Alle Themen freischalten</string>
		<key>IAP Alert Cancel</key>
		<string>Weiter mit der Basis-Version</string>
	</dict>
</dict>
</plist>
