<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Interface Settings</key>
	<dict>
		<key>Main Background</key>
		<string>canyon</string>
		<key>Main Font</key>
		<string>Avenir-Book</string>
		<key>Bold Font</key>
		<string>Avenir-Black</string>
		<key>Start Page Title</key>
		<string>The! Quiz</string>
		<key>Start Page Description</key>
		<string>Test your general knowledge</string>
		<key>Start Page Sub Description</key>
		<string>Choose a game mode</string>
		<key>Start Page Image</key>
		<string>mainImage</string>
		<key>Show Topics in Grid</key>
		<true/>
	</dict>
	<key>Quiz Settings</key>
	<dict>
		<key>Filename</key>
		<string>1000-questions_en.json</string>
		<key>Number Of Questions To Answer</key>
		<integer>10</integer>
		<key>Pass Threshold</key>
		<integer>8</integer>
		<key>Number of Questions To Practice</key>
		<string>50</string>
		<key>Time Needed In Minutes</key>
		<string>2</string>
	</dict>
	<key>Game Center Settings</key>
	<dict>
		<key>Leaderboard ID Time Based</key>
		<string>TimeBasedGame</string>
		<key>Game Center Enabled</key>
		<true/>
		<key>Leaderboard ID</key>
		<string>TopScoresLeaderboard</string>
		<key>Achievements</key>
		<array>
			<dict>
				<key>Achievement ID</key>
				<string>FlawlessAchievement</string>
				<key>Percent Score Needed</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<key>In App Purchase Settings</key>
	<dict>
		<key>Number of free levels</key>
		<integer>3</integer>
		<key>In-App Purchase ID</key>
		<string>questions.purchase</string>
		<key>IAP Alert Title</key>
		<string>Notice</string>
		<key>IAP Alert Message</key>
		<string>Game is restricted to %ld levels. Do you like to upgrade? More than 30.000 points are possible.</string>
		<key>IAP Alert Buy</key>
		<string>Upgrade!</string>
		<key>IAP Alert Cancel</key>
		<string>Stay Basic</string>
	</dict>
</dict>
</plist>
